/node_modules
/.nuxt
/dist
/build
/database

/coverage
/.nyc_output

/LICENSE
/.gitignore
/.prettierignore
/.editorconfig
/.eslintignore
/yarn.lock

*.svg
*.ttf
*.woff

*.jpg
*.png
*.gif
*.ico

*.log
