$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;
$border-width: 1px !default;
$navbar-toggler-width: 2.5rem;
$navbar-toggler-icon: '';

$navbar-dark-color: rgba(white, 0.6);
$navbar-dark-active-color: white;

$navbar-brand-padding-y: 0;
