$body-bg: #f2f2f2;
$body-color: #212529;

$light: #f8f9fa;
$dark: #212529;

$dribbble-color: #ea4c89;
$facebook-color: #4267b2;

$theme-colors: (
    'darker': darken($dark, 5),
    'semi-light': mix($dark, white, 60%),
);
