$body-bg: #f2f2f2;
$body-color: #212529;

$light: #f8f9fa;
$dark: #212529;

$theme-colors: (
    'black-1': rgba(black, 0.1),
    'black-2': rgba(black, 0.2),
    'black-3': rgba(black, 0.3),
    'semi-light': #7a7c7f,
);
